---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Minemobs's blog">
	<main class="flex flex-1">
		<div class="flex flex-1 justify-center items-center">
			<ul role="list" class="grid grid-cols-2 items-center justify-center gap-10 md:grid-cols-2 md:gap-20 lg:grid-cols-3">
				<Card title="Hello World" file="hw" body='Hello World'/>
				<Card title="Hello World" file="hw" body='Hello World'/>
				<Card title="Hello World" file="hw" body='Hello World'/>
			</ul>
		</div>
	</main>
</Layout>