--- 
import Icon from 'astro-icon'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div class="min-h-[100dvh] flex flex-1 flex-col font-sans bg-[#13151a] text-white">
		<header id="header" class="grid grid-cols-3 py-2 px-5 rounded-b-xl bg-[#2a2e37]">
			<a href="https://github.com/minemobs/blog"><Icon name="mdi:github" size={'3em'}/></a>
			<h1 class="text-xl font-semibold text-center mt-auto mb-auto font-sans"><a href="/">Minemobs's blog</a></h1>
		</header>

		<body>
			<slot />
		</body>

		<footer class="flex items-center justify-center rounded-t-xl px-5 py-4 bg-[#2a2e37]">
			<span class="text-lg font-semibold font-sans">© 2023 minemobs.</span>
		</footer>
	</div>
</html>